.gridOne {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.gridTwo {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
}

.gridThree {
    display: grid;
    width: 500px;
    height: 300px;
}

.gridFour {
    display: grid;
    width: 500px;
    background-color: green;
}

.gridFour #gridFour-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.gridFive {
    display: grid;
    width: 500px;
}

.gridFive #gridFive-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.gridSix {
    display: grid;
    grid-template-columns: 1fr 3fr;
    width: 500px;
    background-color: lightgray;
}

.gridSix p {
    font-family: 'Roboto', sans-serif;
}

.cover {
    object-fit: cover;
}
